.jumbotron {
  background-color: #4e3433;
  color: #fff;
  text-align: center;
  height: 201px;
  padding-top: 23px;
}

.ml-auto, .mx-auto {
  margin-left: auto!important;
  margin-top: 40px;
}



.brand-icon {
    font-size: 100px;
}

u{
  text-decoration: none;
}